/* Utilities and overrides */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: .5em 3em;
  padding: 0;
  background-color: var(--sl-color-neutral-0); 
  color: var(--sl-color-neutral-700, var(--sl-input-color)); 
  line-height: 1.5;
}

.container {
  padding: 10px;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: var(--sl-color-neutral-900); 
}
